name: docker deploy

on:
   push:
    branches: [ "main" ]
   pull_request:
    branches: [ "main" ]
   workflow_run:
    workflows: [".NET"]
    types:
      - completed

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
